
thead {
    font-family: Verdana;
    font-size: 11px;
}
#tab1 thead {
    color: blue;
}
#tab2 thead {
    color: black;
    text-align: center;
    background-color: #C3C341;
}
#tab2 tbody {
    background-color: #99CC66;
}
#tab3 thead {
    color: black;
    text-align: center;
    background-color: greenyellow;
}
#tab3 tbody {
    background-color: #C3C341;
}
